<!DOCTYPE html>
<html>
<head>
    <title>Detail Page</title>
</head>
<body>

    <h1><%= @book.title %></h1>
    <h2>by <%= @book.author %></h2>

    <div>
        Summary: <%= @book.snippet %>
    </div>

    <a href="/books">Book Index Page</a>
</body>
</html>