<!DOCTYPE html>
<html>
<head>
    <title>Hello </title>
</head>
<body>

    <ul>
        <% @numbers.each do |num| %>
            <li><%= num %></li>
        <% end %>
    </ul>

    <div><%= @greeting %> <%= @person %></div>




</body>
</html>